h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

ul,
ol,
dl {
  &.list--unstyled {
    padding: 0;
    margin: 0 0 0.75rem 0;
    list-style: none;
    text-align: inherit;
  }

  &.list--spaced {
    li:not(:last-child) {
      margin-bottom: .75rem;
    }
  }
}
