@import "prism-theme-vars/base.css";
@import "codemirror-theme-vars/base.css";
@import "prism-theme-vars/to-codemirror.css";

html {
    --mrtnvh-error: #e00;
    --mrtnvh-success: #00adff;
    --mrtnvh-warning: #f5a623;
    --mrtnvh-violet: #7928ca;
    --mrtnvh-cyan-light: #79ffe1;
    --mrtnvh-cyan: #50e3c2;
    --mrtnvh-highlight-purple: #f81ce5;

    --mrtnvh-radius: 0;

    --mrtnvh-gap-quarter: 0.375rem;
    --mrtnvh-gap-half: 0.75rem;
    --mrtnvh-gap: 1.5rem;
    --mrtnvh-gap-double: 3rem;

    color: var(--mrtnvh-foreground);
    background-color: var(--mrtnvh-background);
    @apply antialiased;
    font-family: "Inter", sans-serif;
}
html.light {
    --mrtnvh-background: #fafaf9;
    --accents-1: #f5f5f4;
    --accents-2: #e7e5e4;
    --accents-3: #d6d3d1;
    --accents-4: #a8a29e;
    --accents-5: #78716c;
    --accents-6: #57534e;
    --accents-7: #44403c;
    --accents-8: #292524;
    --mrtnvh-foreground: #1c1917;
}
html.dark {
    --mrtnvh-foreground: #fafaf9;
    --accents-8: #f5f5f4;
    --accents-7: #e7e5e4;
    --accents-6: #d6d3d1;
    --accents-5: #a8a29e;
    --accents-4: #78716c;
    --accents-3: #57534e;
    --accents-2: #44403c;
    --accents-1: #292524;
    --mrtnvh-background: #1c1917;
}

/* prism styles */
:root {
    --prism-font-family: var(--slidev-code-font-family);
    --prism-block-radius: var(--mrtnvh-radius);
    --prism-foreground: #e7e5e4;
    --prism-background: #292524;
    --prism-keyword: var(--mrtnvh-highlight-purple);
    --prism-function: var(--mrtnvh-success);
    --prism-number: var(--mrtnvh-success);
    --prism-class: var(--mrtnvh-success);
    --prism-string: var(--mrtnvh-warning);
    --prism-builtin: var(--mrtnvh-warning);
    --prism-property: var(--mrtnvh-warning);
    --prism-comment: #a8a29e;
}

.slidev-code {
    --slidev-code-radius: var(--prism-block-radius);
    --slidev-code-padding: var(--mrtnvh-gap);
}

::selection {
    color: var(--mrtnvh-foreground);
    background-color: var(--mrtnvh-cyan-light);
}

#slide-content {
    color: var(--accents-8);
    background-color: var(--mrtnvh-background);
    padding: 3rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.02em;
}

h1 {
    color: var(--mrtnvh-foreground);
    font-weight: 800;
    margin: 0 0 1rem;
    @apply text-4xl;
}
h2 {
    color: var(--mrtnvh-foreground);
    font-weight: 700;
    margin: 0 0 1rem;
    @apply text-3xl;
}
h3 {
    color: var(--mrtnvh-foreground);
    font-weight: 700;
    margin: 0 0 1rem;
    @apply text-2xl;
}
h4 {
    color: var(--mrtnvh-foreground);
    font-weight: 700;
    margin: 0 0 1rem;
    @apply text-xl;
}
p {
    margin: 1rem 0;
    @apply leading-relaxed;
}
strong {
    color: var(--accents-8);
}
a {
    color: #22c55e;
}

* {
    @apply select-none;
}
code,
code * {
    @apply select-text;
}
code {
    font-family: "Fira Code", monospace;
    font-weight: 700;
}

:not(pre) > code {
    color: var(--mrtnvh-highlight-purple);
    background-color: var(--accents-2);
    @apply text-sm p-1;
}
:not(pre) > code:before,
:not(pre) > code:after {
    content: "`";
    color: var(--mrtnvh-highlight-purple);
}

pre {
  border: 1px solid #fafaf9;
}

li {
    @apply my-2;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    @apply my-4;
}
tr {
    height: var(--mrtnvh-gap-double);
}
th,
td {
    vertical-align: middle;
}
thead > tr {
    height: 40px;
}
th {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: var(--accents-5);
    background: var(--accents-1);
    padding: 0 var(--mrtnvh-gap-half);
    border-top: 1px solid var(--accents-2);
    border-bottom: 1px solid var(--accents-2);
}
th:first-child {
    border-left: 1px solid var(--accents-2);
    border-radius: var(--mrtnvh-radius) 0 0 var(--mrtnvh-radius);
}
th:last-child {
    border-right: 1px solid var(--accents-2);
    border-radius: 0 var(--mrtnvh-radius) var(--mrtnvh-radius) 0;
}
td {
    color: var(--accents-6);
    padding: var(--mrtnvh-gap-quarter) var(--mrtnvh-gap-half);
}
tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--accents-2);
}
