.grid {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: ($slidePadding / 2);
  align-content: center;

  &.grid--two-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  &.grid--three-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  &.grid--no-gap {
    gap: 0;

    & > *:not(:first-child) {
      border-left: 1px solid $meta;
    }
  }

  &.grid--align-top {
    align-content: start;
  }
}
