h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

ul,
ol,
dl {
  &.list--unstyled {
    padding: 0;
    margin: 0 0 0.75rem 0;
    list-style: none;
    text-align: inherit;
  }

  &.list--undecorated {
    list-style: none;
    padding-left: 1rem !important;

    li:before {
      display: none;
    }
  }

  &.list--spaced {
    li:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}

code {
  background-color: $mainColor;
  color: $backgroundColor;
  padding: 0 0.5rem;
  font-size: .75rem;
  display: inline-flex;
  vertical-align: middle;
}

pre > code {
  padding: 0;
  font-size: .55rem;
}
