.w-full {
  width: 100%;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 2px $mainColor;
}

.centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}


.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.overlay-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.font-size-base {
  font-size: 1rem !important;
}

.font-size-huge {
  font-size: 6rem !important;
  line-height: .85 !important
}

.font-weight-black {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}