.card {
  display: flex;
  flex-direction: column;
}

.card-header,
.card-body {
  padding: 1rem 0.5rem;
  border: 1px solid $mainColor;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.card-header {
  background-color: $mainColor;

  & > * {
    color: $backgroundColor !important;
  }
}

.card-body {
  border-color: $meta;
  flex-grow: 1;
}
