.header {
  order: 2;
  font-size: 50%;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  user-select: none;
  border-left: 1px solid $meta;
  font-weight: 700;

  a {
    text-decoration: none;
  }
}

.header__text {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header__illustration {
  width: 100%;
  border-top: 1px solid $meta;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.header__icon {
  height: 1.5rem;
}

.header__title {
  font-family: $headingFont;
  text-transform: uppercase;
}
